.page-header {
  /* box-sizing: unset; */
  height: 400px;
  width: 100%;
  text-align:center;
  margin-top: 120px;  /*  to prevent header from being covered by fixed nav bar*/
  background-image: url("../images/asfalt-dark.png");
  background-color: #cc8800;
  
}



