article.tweet header {
  width: 98%;
  margin: 0.5em auto;
  display: flex;
  align-items: center;
}


article.tweet .handle {
  opacity: 0;
}

article.tweet .spacer {
  flex-grow: 1;
}

article.tweet .tweet-content {
  width: 98%;
  margin: 1em auto;
  
}

article.tweet footer{
  border-top: 3px solid #9b9b9b;
  width: 98%;
  font-size: 16px;
  margin: auto;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}

article.tweet {
  margin: 2em 0;
  border: 3px solid #9b9b9b;
  opacity: 0.8;
}


article.tweet:hover{
  box-shadow: 10px 10px gray;
  opacity: 1;
}

article.tweet:hover .handle {
  opacity: .75;
}